:root {
    --link-color: #25ade7;
    --link-hover: #0f3f53;

    --btn-color:  #e5e2e2;
    --btn-bg: #6c757d;
    --btn-bg-hover: #343a40;

    --grey-bg:rgba(133, 131, 131, 0.89);
    --dark-bg:rgba(115, 112, 112, 0.89);;

    --white-text: #e5e2e2;
    --grey-text: #736f6f;

    --shadow-item: 2px 2px 7px 3px rgba(0, 0, 0, 0.09);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, p {
    margin-top: 0;
}

button {
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    outline: none;
}

.btn {
    color: var(--btn-color);
    background-color: var(--btn-bg);
}

.btn:hover {
    background-color: var(--btn-bg-hover);
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
}

.list {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper-page {
    display: flex;
    flex: 1;
}

.wrapper-content {
    flex: 1;
}

/* header */
.header-page {
    background-color: var(--grey-bg);
}
/* header end */

/* footer */
.footer-page {
    background-color: var(--dark-bg);
}
/* footer end */

/* sidebar */
.sidebar {
    width: 25%;
    background-color: var(--grey-bg);
    border-right: 1px solid #ffffff;
}
/* sidebar end */

/* main */

/* main end */
