.single-page .header-page {
  background-color: #2791FE;
  color: #FFFFFF;
}

.single-page main {
  background-color: #2791FE;
  color: #FFFFFF;
  
}

.single-page .sidebar {
  border-right: 1px solid #ffffff78;
}

.single-page .main-title,
.single-page .header-page a {
  color: #FFFFFF;
}

.header-link-back {
  margin-right: 70px;
}

.single-list__item {
  margin-left: 40px;
  margin-right: 40px;
}

.single-list__link {
  display: block;
  padding: 50px 30px;
  color: #2791FE;
  font-weight: 500;
  font-size: 18px;
  background-color: #FFFFFF;
}

.single-list__nav {
  display: flex;
  padding: 30px 0;
}

.single-list__nav button {
  color: #FFFFFF;
}

.single-page h2 {
  font-size: 18px;
  font-weight: 500;
}
