.widget {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}

.widget__control {
  display: flex;
  margin-bottom: 30px;
  margin-left: 10px;
}

.widget__control-item {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
}

.widget__control-item_filter {
  background-image: url(../img/icon-filter.svg);
}

.widget__control-item_add {
  background-image: url(../img/icon-add.svg);
}

.widget__control-item_filter {
  margin-right: 25px;
}

.widget .list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.widget .item__content .list {
  display: block;
}

.item {
  position: relative;
  margin: 0 10px 20px 10px;
  padding: 30px 15px 15px 15px;
  width: calc(100% / 4 - 20px);
  background: linear-gradient(0deg, #ffffff, #ffffff), linear-gradient(0deg, #ffffff, #ffffff), #ffffff;
  box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.25);
}

.item a {
  color: #2791FE;
}

.item a:hover {
  color:  #093562;
}

.item__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  min-height: 115px;
}

.item__thumb {
  position: relative;
  width: 85px;
  height: 85px;
  margin-right: 30px;
  border: 2px solid #FFFFFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.item__title-wrapper {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 30px 30px 25px 0;
  font-size: 14px;
  color: #2791FE;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.item__title {
  margin: 0;
  flex: 1;
}

.item__btn {
  position: relative;
  width: 25px;
  height: 25px;
}

.btn__v,
.btn__h {
  position: absolute;
  display: block;
  background-color: #2791fe;
}

.btn__v {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 25px;
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.btn__h {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 2px;
}

.open_accordion .btn__v {
  transform: rotate(90deg);
}

.item__control-wrapper {
  display: flex;
  position: absolute;
  top: 10px;
  right: 15px;
}

.item .item__control {
  width: 20px;
  height: 20px;
  background-size: contain; 
  background-repeat: no-repeat;
}

.item__control_edit {
 background-image: url(../img/edit.png);
 margin-right: 25px;
}

.item__control_delete {
  background-image: url(../img/delete.png);
}

.item__content {
  padding: 0;
  height: 0;
  font-size: 14px;
  overflow: hidden;
  transition: height 0.3s ease;
}

.open_accordion .item__content {
 height: auto;
}

.sub-list {
  border: 1px solid #2793fe69;
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 0;
  margin-bottom: 7px;
  border-radius: 3px;
}

.link-unit {
  display: block;
  margin-bottom: 7px;
  font-weight: 500;
}

.title-entity {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid #449df738;
  padding-bottom: 4px;
}

.title-entity:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.col-2 {
  width: calc(100% / 2 - 20px);
  margin: 0 10px;
}

.col-3 {
  width: calc(100% / 3 - 20px);
  margin: 0 10px;
}

.col-4 {
  width: calc(100% / 4 - 20px);
  margin: 0 10px;
}
