

.footer {
    background-color:#F2F2F2;
    display: flex;
    align-items: center;
    padding: 30px 61px;
    color: #FF7B33;
    justify-content: center;
  }
  
  .footer__logo {
     display: inline-block;      
  }
  
  .footer__copy {
    display: inline-block;
    margin-left: 30px;
  }