.sidebar {
  flex-direction: column;
  width: 110px;
}

.sidebar__header {
  padding: 10px;
  background-color: var(--bg-menu);
}

.logo-link {
  display: block;
  width: 90px;
  height: 60px;
  background-image: url("../svg/logo.svg");
  background-color: var(--bg-menu);
  background-size: cover;
  background-position: center;
}

.sidebar-menu {
  flex: 1;
  background-color: var(--bg-menu);
}

.sidebar-menu__item {
  text-align: center;
  padding-bottom: 8px;
  transition: background-color 0.3s ease;
}

.sidebar-menu__item:first-child {
  padding-top: 0;
}

.sidebar-menu__item::before {
  content: "";
  display: block;
  height: 1px;
  width: 96px;
  background-color: var(--bg-menu-line);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 7px;
}

.sidebar-menu__item:last-child::after {
  content: "";
  display: block;
  height: 1px;
  width: 96px;
  background-color: var(--bg-menu-line);
  margin-right: auto;
  margin-left: auto;
  margin-top: 8px;
}

.sidebar-menu__item:last-child {
  padding-bottom: 0;
}

.sidebar-menu__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-menu);
}

.sidebar-menu__thumb {
  margin-bottom: 5px;
  width: auto;
  height: 52px;
  background-color: transparent;
}

/*
.sidebar-menu__thumb_main {
  background-image: url("../svg/icon-main.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 50px;
}

.sidebar-menu__thumb_prof {
  background-image: url("../svg/icon-prof.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 50px;
}


.sidebar-menu__thumb_courses {
  background-image: url(#);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 50px;
}

.sidebar-menu__item_groups {
  background-image: url(#);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px auto;
}

.sidebar-menu__item_experts {
  width: 60px;
  background-image: url(#);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 50px;
}
*/

.sidebar-menu__item:hover {
  background-color:var(--bg-sidebar-item-hover);
}

.sidebar-menu__item:hover + .sidebar-menu__item::before{
  background-color: var(--bg-menu);
}

.sidebar-menu__item:hover .sidebar-menu__title {
  color: var(--text-menu-hover);
}

.sidebar-menu__item:hover  .icon-main{
  fill: var(--fill-icon-hover);
}

.icon {
  margin-bottom: 5px;
}

.icon-main {
  fill: var(--fill-icon);
}

.icon-prof {
  stroke: var(--fill-icon);
}

.sidebar-menu__item:hover  .icon-prof {
  stroke: var(--fill-icon-hover);
}

.icon-courses {
  stroke: var(--fill-icon);
  fill: var(--fill-icon);
}

.sidebar-menu__item:hover  .icon-courses {
  fill: var(--fill-icon-hover);
  stroke: var(--fill-icon-hover);
}

.icon-groups {
  fill: var(--fill-icon);
}

.sidebar-menu__item:hover  .icon-groups {
  fill: var(--fill-icon-hover);
}

.icon-teacher {
  fill: var(--fill-icon);
}

.sidebar-menu__item:hover  .icon-teacher {
  fill: var(--fill-icon-hover);
}

.sidebar-menu__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 0.875;
  color: inherit;
}

.sidebar-control {
  position: relative;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 93px;
  background-color: var(--bg-primary);
}

.sidebar-control__btn {
  font-size: 0;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;

  padding: 0;
}

.sidebar-control__btn:last-child {
  margin-bottom: 0;
}

/*
.sidebar-control__btn_search {
  width: 30px;
  height: 30px;
  background-image: url(#);
  background-size: auto 30px;
  background-position: center center;
}

.sidebar-control__btn_chat {
  background-image: url("../svg/icon-chat.svg");
  background-size: auto auto;
}

.sidebar-control__btn_add {
  background-image: url(#);
  background-repeat: no-repeat;
  background-size: auto 50px;
  background-position: center center;
}
 */

.sidebar-control::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--border-control-footer);
  display: block;
}

.sidebar-control_chat:hover .icon-chat {
  stroke: var(--bg-menu);
}

.sidebar-control_search:hover .icon-search {
  stroke: var(--bg-menu);
}

.sidebar-control_add:hover .icon-add {
  stroke: var(--bg-menu);
}

.icon-groups,
.icon-teacher {
  margin-top: 10px;
}
