.courses-container {
  display: flex;
  flex-wrap: wrap;
}

.courses-card {
  margin: 0 15px 15px 15px;
  padding: 22px 29px;
  width: calc(100% / 2 - 30px);
  border-radius: 4px;
  background:
    linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, #ffffff, #ffffff),
    #ffffff;
  box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.25);
}

.courses h2 {
  padding: 5px 0 5px 22px;
  margin-bottom: 27px;
  font-weight: 400;
}

.courses h3 {
  font-weight: 400;
}

.courses .title-entity {
  margin-bottom: 5px;
}
