.teachers-container {
  /* display: flex;
  flex-wrap: wrap; */
  
  justify-content: space-between;
  padding: 20px 30px;
}

.teacher-card {
  position: relative;
  display: flex;
  width: 48%;
  padding: 40px 20px 20px;
  box-shadow: var(--shadow-item);
  font-size: 12px;
}

.teacher-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--btn-del-bg);
  border-radius: 4px;
  color: var(--white-text);
  text-transform: uppercase;
  font-size: 10px;
  padding: 7px 10px;
}

.teacher-btn:hover {
  background-color: var(--btn-del-bg-hover);
}

.teacher-card:nth-child(3n) {
  margin-top: 20px;
}

.teacher-content {
  width: calc(100% - 50px);
  margin-left: 10px;
}

.teacher-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.link-unit {
  display: block;
  color: var(--black-text);
  font-weight: bold;
  font-size: 1.2em;
}

.time {
  color: var(--grey-text);
}

.title-entity-link {
  color: var(--black-text);
  text-transform: uppercase;
}

.title-entity {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  border: var(--dark-border-1px);
  border-radius: 10px;
}

.teacher-name {
  font-size: 1.3em;
}
