.footer-page {
  min-height: 10vh;
  background-color: var(--dark-bg);
  display: flex;
  align-items: center;
  padding: 25px 15px 25px 40px;
  color: var(--white-text);
}

.logo-footer {
  width: 220px;
}

.copyright {
  flex: 1;
  text-align: center;
}
