.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-bg);
  z-index: 50;
  display: none;
}

.modal-active {
  display: flex;
}

.page-form {
  width: 550px;
  margin: auto;
  background-color: var(--white-bg);
  border-radius: 10px;
  overflow: hidden;
}

.header-form {
  background-color: var(--dark-form);
  color: var(--white-text);
  padding: 25px 20px 25px 20px;
  text-align: center;
}

.form-field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.form-field label {
  width: 150px;
  margin-right: 15px;
}

.form-field input {
  padding: 7px;
  flex: 1;
  border: var(--dark-border-1px);
  border-radius: 4px;
  font-size: 16px;
}

.form-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control button {
  background-color: var(--dark-form);
  padding: 15px 40px;
  color: var(--white-text);
  border-radius: 5px;
  font-size: 16px;
}

.page-form .fields {
  padding: 30px 25px 30px 25px;
  font-size: 19px;
}

.form-title {
  font-size: 28px;
  margin-bottom: 0;
}

.form-field_right {
  text-align: right;
}
