.header-page {
  display: flex;
  align-items: center;
  padding: 25px 27px 25px 22px;
  background-color: var(--grey-bg);
  color: var(--white-text);
}

.header-humb {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-right: 29px;
  background-color: transparent;
}

.header-humb-line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--white-bg);
  border-radius: 4px;
}

.header-humb-line::before,
.header-humb-line::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  background-color: var(--white-bg);
  border-radius: 4px;
}

.header-humb-line::before {
  top: 0;
}

.header-humb-line::after {
  bottom: 0;
}

.header-humb-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.header-humb-close:hover {
  opacity: 1;
}

.header-humb-close::before,
.header-humb-close::after {
  content: '';
  position: absolute;
  left: 15px;
  height: 33px;
  width: 2px;
  background-color: #333333;
}

.header-humb-close::before {
  transform: rotate(45deg);
}

.header-humb-close::after {
  transform: rotate(-45deg);
}

.header-title {
  flex: 1;
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 1.172;
}

.header-info {
  width: 250px;
  color: var(--white-text);
  text-align: center;
}

/* .header-info-login {
} */

.header-meta {
  /* display: block; */
  color: inherit;
  display: none;
}

.header-meta:hover {
  color: inherit;
}

.header-info-link {
  font-size: 16px;
  line-height: 1.171;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.header-meta-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  overflow: hidden;
}

.header-meta-info {
  font-size: 16px;
  line-height: 1.171;
}
