/* start main widget */

.widget-container .main {
  font-size: 16px;
}

.diagram-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.control-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--blue-text);
  font-size: 0.8em;
}

.control-bar__title {
  margin-bottom: 0;
}

.control {
  display: flex;
  padding: 20px;
}

.btn-control {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: white;
}

.btn-control:last-child {
  margin-right: 0;
}

.control__delete {
  background-image: url("../img/btn-delete.svg");
}

.control__edit {
  background-image: url("../img/btn-edit.svg");
}

.control__sort {
  background-image: url("../img/btn-sort.svg");
}

.calendar {
  display: flex;
  align-items: center;
}

.calendar__label {
  margin-right: 15px;
}

/* .controls {
  font-weight: bold;
  margin: 1rem;
  padding-top: 0.5rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  color: var(--white-text);
  background-color: var(--grey-bg);
}

.vertical {
  display: flex;
  flex-direction: column;
  width: 3%;
  background-color: aquamarine;
}

.vertical > .controls {
  transform: rotate(90deg);
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.5rem;
}

.controls-label {
  margin: 1rem;
}

.controls:hover {
  background-color: var(--btn-bg-hover);
} */

input[type='date'] {
  display: block;
  height: 2rem;
}

.diagram {
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
}

.cell {
  border-right: var(--border-cell);
  border-bottom: var(--border-cell);
  font-size: 0.9em;
}

.date {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  padding: 6px;
  height: 2rem;
  color: var(--white-text);
  background-color: var(--blue-bg) !important;
}

.row-title {
  padding: 5px;
  border-left: var(--border-cell);
  text-transform: uppercase;
  text-align: center;
  background-color: lightcyan;
}

.weekend {
  background-color: cornsilk;
}

.event {
  padding: 5px;
  height: auto;
  background-color: var(--persic-bg);
}

.event:hover {
  transform: scale(1.1);
  outline: solid lightblue 1px;
}

.range {
  position: fixed;
  bottom: 90px;
  padding-top: 20px;
  width: 100%;
  text-align: center;
  background-color: rgba(39, 145, 254, 0.2);
}

.range-scroll {
  position: relative;
}

input[type=range] {
  -webkit-appearance: none;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497E3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #2497E3;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #2497E3;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #A1D0FF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2497E3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2497E3;
}

#volume {
  position: absolute;
  bottom: 20px;
}
