/* start main widget */

.widget-container .main {
  font-size: 16px;
}

.diagram-wrapper {
  display: flex;
  justify-content: space-between;
}

.control-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--blue-text);
  font-size: 0.8em;
  padding: 20px 0;
}

.control-bar__title {
  margin-bottom: 0;
}

.control {
  display: flex;
  padding: 20px;
}

.btn-control {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.control__delete {
  background-image: url("../img/btn-delete.svg");
}

.control__edit {
  background-image: url("../img/btn-edit.svg");
}

.control__sort {
  background-image: url("../img/btn-sort.svg");
}

.calendar {
  display: flex;
  align-items: center;
}

.calendar__label {
  margin-right: 15px;
}

/* .controls {
  font-weight: bold;
  margin: 1rem;
  padding-top: 0.5rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  color: var(--white-text);
  background-color: var(--grey-bg);
}

.vertical {
  display: flex;
  flex-direction: column;
  width: 3%;
  background-color: aquamarine;
}

.vertical > .controls {
  transform: rotate(90deg);
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.5rem;
}

.controls-label {
  margin: 1rem;
}

.controls:hover {
  background-color: var(--btn-bg-hover);
} */

input[type='date'] {
  display: block;
  height: 2rem;
}

.diagram {
  width: 97%;
  display: grid;
  grid-auto-rows: auto;
}

.cell {
  border-right: dotted pink 1px;
  border-bottom: dotted lightblue 1px;
}

.date {
  font-size: 1rem;
  text-align: center;
  background-color: lightgoldenrodyellow;
}

.row-title {
  padding: 5px;
  text-transform: uppercase;
  background-color: lightcyan;
}

.weekend {
  background-color: cornsilk;
}

.event {
  padding: 5px;
  font-size: 1rem;
  height: auto;
  background-color: goldenrod;
}

.event:hover {
  transform: scale(1.1);
  outline: solid lightblue 1px;
}
