/* start main widget */

.diagram-wrapper {
  display: flex;
  justify-content: space-between;
}

.controls {
  font-weight: bold;
  margin: 1rem;
  padding-top: 0.5rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  color: var(--white-text);
  background-color: var(--grey-bg);
}

.vertical {
  display: flex;
  flex-direction: column;
  width: 3%;
  background-color: aquamarine;
}

.vertical > .controls {
  transform: rotate(90deg);
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.5rem;
}

.control-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px aquamarine;
}

.controls-label {
  margin: 1rem;
}

.controls:hover {
  background-color: var(--btn-bg-hover);
}

input[type='date'] {
  display: block;
  height: 2rem;
}

.diagram {
  width: 97%;
  display: grid;
  grid-auto-rows: auto;
}

.cell {
  height: auto;
  border-right: dotted pink 1px;
  border-bottom: dotted lightblue 1px;
}

.date {
  font-size: 1rem;
  text-align: center;
  background-color: lightgoldenrodyellow;
}

.row-title {
  padding: 5px;
  text-transform: uppercase;
  background-color: lightcyan;
}

.weekend {
  background-color: cornsilk;
}

.event {
  padding: 5px;
  font-size: 1rem;
  background-color: goldenrod;
}

.event:hover {
  transform: scale(1.1);
  outline: solid lightblue 1px;
}
