.prof-point {
  box-shadow: var(--shadow-item);
  border-radius: 4px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 30px;
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 87px;
}

.prof-point:nth-child(1) {
  margin-top: 50px;
}

.prof-point:nth-child(n + 2) {
  margin-top: 30px;
}

.prof-link {
  display: flex;
  flex-wrap: wrap;
  color: var(--link-color);
  align-items: center;
}

.prof-link:hover {
  color: var(--link-hover);
}

.prof-button {
  position: absolute;
  top: 7px;
  right: 8px;
  z-index: 10;
  background-color: var(--btn-del-bg);
  border-radius: 4px;
  color: var(--white-text);
  text-transform: uppercase;
  font-size: 12px;
  padding: 7px 10px;
}

.prof-button:hover {
  background-color: var(--btn-del-bg-hover);
}
