.sidebar {
  width: 25%;
  background-color: var(--grey-bg);
  border-right: 1px solid #ffffff;
  padding: 25px 20px 30px 40px;
}

.sidebar-toggle {
  display: none;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-sidebar {
  width: 40px;
  height: 22px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/sidebar-arrow.svg);
}

.menu-list {
  padding: 0;
}

.menu-list-item {
  font-size: 16px;
  list-style-type: none;
  border-bottom: 1px solid #ffffff;
  padding: 10px 0 10px 20px;
}

.sidebar .menu-link {
  color: var(--white-text);
}

/* media animation sidebar */

@media (max-width: 680px) {
  .sidebar {
    width: 30%;
    padding: 25px 10px 30px 15px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }

  .sidebar-toggle {
    display: block;
    width: 0;
    padding: 25px 0 30px 0;
    border: none;
  }

  .sidebar-logo {
    margin-right: 30%;
    width: 80%;
  }

  .menu {
    overflow: hidden;
  }
  .button-sidebar {
    width: 15%;
  }
}

@media (min-width: 681px) {
  .sidebar {
    width: 30%;
    -webkit-transition: width 0.5s linear;
    -moz-transition: width 0.5s linear;
    transition: width 0.5s linear;
  }

  .sidebar-toggle {
    display: block;
    width: 0;
    padding: 25px 0 30px 0;
    border: none;
  }

  .menu {
    overflow: hidden;
  }
}

@media (min-width: 1025px) {
  .sidebar {
    width: 30%;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .sidebar-toggle {
    display: block;
    width: 0;
    padding: 25px 0 30px 0;
    border: none;
  }

  .menu {
    overflow: hidden;
  }
}

@media (min-width: 1180px) {
  .sidebar {
    width: 20%;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .sidebar-toggle {
    display: block;
    width: 0;
    padding: 25px 0 30px 0;
    border: none;
  }

  .menu {
    overflow: hidden;
  }
}

@media (min-width: 1401px) {
  .sidebar {
    width: 15%;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }

  .sidebar-toggle {
    display: block;
    width: 0;
    padding: 25px 0 30px 0;
    border: none;
  }

  .menu {
    overflow: hidden;
  }
}
