:root {
  --link-color: #25ade7;
  --link-hover: #0f3f53;
  --btn-color: #e5e2e2;
  --btn-bg: #6c757d;
  --btn-bg-hover: #343a40;
  --grey-bg: rgba(133, 131, 131, 0.89);
  --dark-bg: rgba(115, 112, 112, 0.89);
  --white-text: #e5e2e2;
  --grey-text: #736f6f;
  --black-text: #000000;
  --white-bg: #ffffff;
  --shadow-item: 2px 2px 7px 3px rgba(0, 0, 0, 0.09);
  --dark-border-1px: 1px solid rgba(0, 0, 0, 0.09);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

button {
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.btn {
  color: var(--btn-color);
  background-color: var(--btn-bg);
}

.btn:hover {
  background-color: var(--btn-bg-hover);
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='button'],
input[type='submit'] {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
}

.list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper-page {
  display: flex;
  flex: 1;
}

.wrapper-content {
  flex: 1;
}

/* header */

.header-page {
  display: flex;
  align-items: center;
  padding: 25px 27px 25px 22px;
  background-color: var(--grey-bg);
  color: var(--white-text);
}

.header-humb {
  position: relative;
  width: 45px;
  height: 45px;
  padding: 0;
  margin-right: 29px;
  background-color: transparent;
}

.header-humb-line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--white-bg);
  border-radius: 4px;
}

.header-humb-line::before,
.header-humb-line::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  background-color: var(--white-bg);
  border-radius: 4px;
}

.header-humb-line::before {
  top: 0;
}

.header-humb-line::after {
  bottom: 0;
}

.header-title {
  flex: 1;
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 1.172;
}

.header-info {
  width: 250px;
  color: var(--white-text);
  text-align: center;
}

/* .header-info-login {
} */

.header-meta {
  /* display: block; */
  color: inherit;
  display: none;
}

.header-meta:hover {
  color: inherit;
}

.header-info-link {
  font-size: 16px;
  line-height: 1.171;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.header-meta-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  overflow: hidden;
}

.header-meta-info {
  font-size: 16px;
  line-height: 1.171;
}

/* header end */

/* footer */

.footer-page {
  background-color: var(--dark-bg);
  display: flex;
  align-items: center;
  padding: 25px 15px 25px 40px;
  color: var(--white-text);
}

.logo-footer {
  width: 220px;
}

.copyright {
  flex: 1;
  text-align: center;
}

/* footer end */

/* sidebar */

.sidebar {
  width: 25%;
  background-color: var(--grey-bg);
  border-right: 1px solid #ffffff;
  padding: 25px 20px 30px 40px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-logo {
  width: 150px;
}

.button-sidebar {
  width: 40px;
  height: 22px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/sidebar-arrow.svg);
}

.menu-list {
  padding: 0;
}

.menu-list-item {
  font-size: 16px;
  list-style-type: none;
  border-bottom: 1px solid #ffffff;
  padding: 10px 0 10px 20px;
}

/* sidebar end */

/* main */

/* teacher-page */
.teachers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 30px;
}

.teacher-card {
  display: flex;
  width: 48%;
  padding: 20px;
  box-shadow: var(--shadow-item);
  font-size: 12px;
}

.teacher-card:nth-child(3n) {
  margin-top: 20px;
}

.teacher-content {
  width: calc(100% - 50px);
  margin-left: 10px;
}

.teacher-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.link-unit {
  display: block;
  color: var(--black-text);
  font-weight: bold;
  font-size: 1.2em;
}

.time {
  color: var(--grey-text);
}

.title-entity-link {
  color: var(--black-text);
  text-transform: uppercase;
}

.title-entity {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  border: var(--dark-border-1px);
  border-radius: 10px;
}

.teacher-name {
  font-size: 1.3em;
}
