:root {
  --link-color: #25ade7;
  --link-hover: #0f3f53;
  --btn-color: #e5e2e2;
  --btn-bg: #6c757d;
  --btn-bg-hover: #343a40;
  --btn-del-bg: #ef3737;
  --btn-del-bg-hover: #862222;
  --btn-success: #28a745;
  --btn-close: #dc3545;
  --grey-bg: rgba(133, 131, 131, 0.89);
  --dark-bg: rgba(115, 112, 112, 0.89);
  --white-text: #e5e2e2;
  --grey-text: #736f6f;
  --black-text: #000000;
  --blue-text: #3B4AC9;
  --blue-bg: #2791FE;
  --white-bg: #ffffff;
  --shadow-item: 2px 2px 7px 3px rgba(0, 0, 0, 0.09);
  --dark-border-1px: 1px solid rgba(0, 0, 0, 0.09);
  --overlay-bg: rgba(0, 0, 0, 0.9);
  --dark-form: #444242;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

button {
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.btn {
  color: var(--btn-color);
  background-color: var(--btn-bg);
}

.btn:hover {
  background-color: var(--btn-bg-hover);
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='button'],
input[type='submit'] {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
}

.list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  position: relative;
  min-height: 90vh;
}

.wrapper-page {
  display: flex;
  flex: 1;
  min-height: calc(100vh - 78px);
}

.wrapper-content {
  flex: 1;
}

.widget {
  display: none;
  max-height: 80vh;
  padding: 20px;
  overflow-x: scroll;
}

.active {
  display: block;
}

.progress::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../img/progress.gif');
  background-repeat: no-repeat;
  background-position: center center;
}
