.footer {
    min-height: 10vh;
    background-color: var(--bg-footer);
    display: flex;
    align-items: center;
    padding: 25px 15px 25px 40px;
    color: var(--text-primary);
  }
  
  .footer__logo {
    width: 220px;
  }
  
  .footer__copy {
    flex: 1;
    text-align: center;
  }