name: CI

on:
  push:
    branches: [ main ]

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:

    - name: checkout
      uses: actions/checkout@v2

    - name: setup node
      uses: actions/setup-node@v1
      with:
        node-version: '14'

    - name: install
      run: npm ci

    - name: build
      run: npm run build

    - name: deploy
      run: |
        git config --global user.email 7.on.off@bk.ru
        git config --global user.name "Git Actions"
        git fetch 
        git checkout deploy
        git add -f ./dist/*
        git mv -f ./dist/* .
        git commit -m "Build - version"
        git push -f origin deploy

