# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
  pull-request:
    branches: [ main ]

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:

    - name: checkout
      uses: actions/checkout@v2

    - name: setup node
      uses: actions/setup-node@v1
      with:
        node-version: '14'

    - name: install
      run: npm ci
      
    - name: lint
      run: npm run lint

    - name: test 
      run: npm run test

    - name: build
      run: npm run build   

    
  
